@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: "Hanken Grotesk" , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsla(241, 72%, 46%, 0);
}

.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 1.75rem;
    margin: 0 1em; 
    max-width: 100vw;
    max-height: 100vh;
    width: 600px;
}


.card{
   display: flex;
   justify-content: space-between;
}

.result{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    border-radius: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2.5rem;
    gap: 1em;
    color: #fff;
}

.result-title{
    font-size: 25px;
    color: hsl(241, 100%, 89%);
    font-weight: 700;
}

.result-number{
     background-image: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
     height: 160px;
     width: 160px;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: hsl(241, 100%, 89%);
}

.bold{
    font-weight: 800;
    font-size: 58px;
    color: #fff;
}

.result b{
    margin-top: 2.2rem;
    font-size: 2rem;
}

.heading{
  font-weight: 800;
}

.heading-info{
    color: hsl(241, 100%, 89%);
    text-align: center;
}

.summary{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}

.summary-title{
    font-size: 25px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.summary-results{
    display: flex;
    justify-content: space-between;
    padding: 0.85rem;
    border-radius: 10px;

}

.header-img{
    display: flex;
    gap: 0.5rem;
}
.result-1{
    background-color: hsla(0, 100%, 67%, 0.2);
    color: hsl(0, 100%, 67%);
}

.result-2{
    background-color: hsla(39, 100%, 56%, 0.2);
    color: hsl(39, 100%, 56%);
}

.result-3{
    background-color: hsla(166, 100%, 37%, 0.2);
    color: hsl(166, 100%, 37%);
}

.result-4{
    background-color: hsla(234, 85%, 45%, 0.2);
    color:  hsl(234, 85%, 45%);
}

.btn {
    height: 2.95rem;
    border-radius: 20px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color:#fff;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width:600px) {
    body{
    }

    .container{
      max-width: 100%;
      max-height: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0;
    }

   .card{
   flex-direction: column;
   }

   .result{
    width: 100%;
   height: 100%;
   border-radius: 0 0 1.75rem 1.75rem;
   }

   .summary{
    width: 100%;
    height: 100%;
    border-radius: 0 0;
   }
}

.attribution {
     font-size: 11px; text-align: center; 
    }


.attribution a {
     color: hsl(228, 45%, 44%);
     }